.search_form {
  max-width: 50rem;
  width: 100%;
  display: flex;
  margin: 1rem auto;
  padding: 0 5rem;
  gap: 1rem;
}

.search_form__input {
  background-color: rgba(98, 96, 96, 0.5);
  color: white;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.search_form__btn {
  width: 5rem;
  border-radius: 5px;
}

.close_btn {
  width: 1rem;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  cursor: pointer;
  visibility: hidden;
}

.active {
    visibility: visible;
}

.input_container {
  position: relative;
  display: flex;
  width: 100%;
}
