.person_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, auto));
  gap: 1rem;
}

.error {
    color: #ffe917;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}